APP_NAME="Sistema de Monitoreo VoIP"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stderr

# API Backend (usar nombre del servicio Docker)
API_URL=http://backend:8082/api/

# Base de datos
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=db_entel
DB_USERNAME=root
DB_PASSWORD=

# Cache y sesiones
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120

QUEUE_CONNECTION=sync
